@using BagShop.Models.Models.Home

@model HomeIndexViewModel

@if (Model.Bags.Count() > 0)
{
    <div class="row">
        <form asp-action="Search" class="search">
            <div class="col-md-6 searchText">
                <input asp-for="SearchText" class="form-control" placeholder="Search..." />
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-warning" value="Search" />
            </div>
        </form>
    </div>

    <div class="row course-listings">
        @await Html.PartialAsync("_BagPartial", Model.Bags)
    </div>
}



